.dark{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  width: 100vw;
  height: 250px;
  background-color: #3a454b;
  background-size: cover;
  color: white;
  margin: 0;
  align-items: center;
  justify-content: center;
}


//Botón
a.success.contacto{
  width: 25vw;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: center;
  color: white;
}


//Texto
.calloutContacto{
  grid-row-start: 1;
  grid-column: span 4;
}

#sociales{
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: 4;
  justify-self: center;
  color: white;
}