$hero-height: 100vh;

.hero-section.inicio,
.hero-section.servicios,
.hero-section.nosotros,
.hero-section.contacto,
.hero-section.blog,
.hero-section.kaspersky{
  background: url('/assets/img/bannerpaginas.jpg') 50% no-repeat fixed;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  .hero-section-text {
	color: $white;
	text-shadow: 1px 1px 2px $black;
  }
}
.hero-section.articulo.deteccion {
  background: url('/assets/img/blog_intruso.jpg') 50% no-repeat fixed;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

.hero-section.articulo.juice {
  background: url('/assets/img/banner_blog_juice_jacking.jpg') 50% no-repeat fixed;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

.hero-section.articulo.metodos {
  background: url('/assets/img/banner_blog_metodos.jpg') 50% no-repeat fixed;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

.hero-section.articulo.faxploit {
  background: url('/assets/img/banner_blog_faxploit.jpg') 50% no-repeat fixed;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

.hero-section.articulo.botnet {
  background: url('/assets/img/banner_blog_botnet.jpg') 50% no-repeat fixed;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

.hero-section.articulo.mitd {
  background: url('/assets/img/banner_blog_mitd.jpg') 50% no-repeat fixed;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

.hero-section.articulo.trojanfiscalia {
  background: url('/assets/img/banner_blog_trojan_horse_fiscalia.jpg') 50% no-repeat fixed;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}

.hero-section.articulo.cultura {
  background: url('/assets/img/banner_blog_cultura_ciberseguridad.jpg') 50% no-repeat fixed;
  background-size: cover;
  height: $hero-height;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;


  .hero-section-text {
    color: $white;
    text-shadow: 1px 1px 2px $black;
  }
}