

#sociales{
  text-align: center;

  .fi-social-facebook{
    //background: #aaa;
    border-radius: 10%;
    padding: 0.5em;
    color: White;
    margin: 1em;
    transition: all ease 0.5s;

    &:hover{
      background: #3b5998;
    }
  }

  .fi-social-twitter{
    //background: #aaa;
    border-radius: 10%;
    padding: 0.5em;
    color: White;
    margin: 1em;
    transition: all ease 0.5s;

    &:hover{
      background: #55acee;
    }
  }

  a.fi-social-facebook, .fi-social-twitter{
    font-size: 1.5em;
  }

}