.top-bar, .top-bar ul{
  background-color: #2980B9;
}

li{

  &:hover {
    background: scale-color($anchor-color, $lightness: -14%);
  }
}

li a {
  padding: 0;
  margin: 0;
  transition: all 0.5s;
  color: #fefefe;
  display: block;
  cursor: pointer;

  &:not(.sitio) {
    border-right: 1px solid #fff;
  }

  &:hover {
    color: #cc4b37;
    font-weight: 700;
    position: relative;
  }
}

// Hacks para alinear icon fonts
/*[class^="icon-"]:before,
[class*=" icon-"]:before {
  position: relative;
  top: .15em;
  display: inline-block
}*/

.espacio:before {
  margin-right: .3em;
  margin-left: .3em;
}

li a.last {
  border-style: none;
}

.menu a{
  color: #FFFFFF;
  transition: all 0.5s;
  &:hover {
    //color: white;
    font-weight: 700;
    position: relative;
  }
}