<footer class="grid-x">
    <div class="cell">

    </div>
    <div class="cell">
        <p>Copyright © (2017) Juan Oliver. Todos los derechos reservados.<span> Consulte los<a href="terminos.html" target="_blank"> Términos y codiciones del sitio |</a><a href="politicas.html" target="_blank"> Políticas de privacidad</a></span><span> para mas información.</span><span> Prohibida su reproducción total o parcial sin el permiso explícito del autor</span></p>
        <p><span>Juan Oliver |</span><span class="fi-marker espacio">  Cra. 21 #28-40</span></p>
    </div>
    <div class="small-6 cell">
        <p>Hecho con<span class="fi-heart espacio"> en <img src="../assets/img/logo_cartagena_de_indias_0.gif" height="77" width="257"/></span></p>
    </div>
    <div class="small-6 cell"></div>
    <div id="ssl">
        <script src="https://cdn.ywxi.net/js/1.js" async="async"></script>
    </div>
</footer>