<nav data-sticky-container="data-sticky-container">
    <div class="contain-to-grid" data-sticky="data-sticky" data-margin-top="0" data-sticky-on="small" style="width:100%;">
        <div class="title-bar" data-responsive-toggle="main-menu"><button class="menu-icon" data-toggle="main-menu"></button>
            <div class="title-bar-title">Menu</div>
        </div>
        <div class="top-bar" id="main-menu" data-sticky="data-sticky" data-margin-top="0">
            <div class="top-bar-left show-for-medium">
                <ul class="menu horizontal">
                    <a class="sitio" href="/"><img src="../../assets/img/logo.svg" height="150" width="150" alt="Logo SECNAR"/></a>
                    <a><li class="menu-text absolute-center">Security Nauj Revilo</li></a>

                </ul>
            </div>
            <div class="top-bar-right">
                <ul class="dropdown menu vertical medium-horizontal" data-responsive-menu="drilldown medium-dropdown">
                    <li><a href="/">Inicio</a></li>
                    <li><a class="fi-list espacio" href="/servicios.html">Servicios</a>
                        <ul class="vertical menu">
                            <li><a href="/audit.html">Auditorías</a></li>
                            <li><a href="/car.html">Control de Acceso a la Red</a></li>
                            <li><a href="/vulnerabilidades.html">Manejo de Vulnerabilidades</a></li>
                            <li><a href="/capacitaciones.html">Capacitaciones</a></li>
                        </ul>
                    </li>
                    <li><a href="/blog.html">Blog</a></li>
                    <li><a href="/nosotros.html">Nosotros</a></li>
                    <li><a class="last" href="/contacto.html">Contacto</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
